<h2>Welcome to to the NRDPFC.  <br>

<%if @prid=0%>
	<h3>PROJECT NUMBER ZERO ( <%=@prid%> ) IS NOT ALLOWED <br>
	For Wolf Project 7 use wolf7.wildlifegenomictracker.com<br>
	For Wolf Project 64 use wolf64.wildlifegenomictracker.com<br>  
	Press the "Back" button on your browser
	</h3>
	
<%end%>
